<div class="kindergarden-index-row">
  <% @kindergardens.each do |kindergarden| %>


    <div class="card-wrapper" style="position:relative;">
      <%= link_to kindergarden_path(kindergarden), :action => 'go' do %>
        <div class="kindergarden-index-card">
          <div class="kindergarden-index-card-category">
            <h6><%= kindergarden.category.name %></h6>
          </div>
          <div class="kindergarden-index-card-name">
            <h4><%= kindergarden.name %></h4>
          </div>
          <div class="kindergarden-index-card-address">
            <h6><%= kindergarden.address %> | <%= kindergarden.plz %> Berlin <% if kindergarden.district_id.present? %><%= District.find(kindergarden.district_id).name %><% end %></h6>
          </div>
          <div class="kindergarden-index-card-compass">
            <i class="far fa-compass"></i>
            <% if params[:query].present? %>
            <%= kindergarden.distance_from(params[:query]).round(2)%> km
            <% end %>
          </div>
        </div>
      <% end %>
      <!-- Bookmarks -->
      <div class="bookmark-container">
        <%= render "bookmarks/bookmarks", :kindergarden => kindergarden %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'bookmarks' %>
