
<div class="kindergarden-index-row">
  <h3>Ergebnisse: <%= @kindergardens.count %></h3>
  <% @kindergardens.each do |kindergarden| %>

    <div class="card-wrapper" style="position:relative;">
      <%= link_to kindergarden_path(kindergarden), :action => 'go' do %>
        <div class="kindergarden-index-card">
          <div class="kindergarden-index-card-category">
            <h6><%= kindergarden.category.name %></h6>
          </div>
          <div class="kindergarden-index-card-name">
            <h4><%= kindergarden.name %></h4>
          </div>
          <div class="kindergarden-index-card-address">
            <h6><%= kindergarden.address %> | <%= kindergarden.plz %> <%= kindergarden.district %></h6>
          </div>
        </div>
      <% end %>
      <% @bookmark = Bookmark.find(current_user.bookmark_ids.select do |id| kindergarden.bookmark_ids.include?(id) end) %>
      <% if @bookmark.present? %>
         <%= link_to kindergarden_bookmark_path(kindergarden, @bookmark), class: "top-corner-star", method:'delete' do %>
          <div class="bookmark-symbol"><i class="fas fa-heart"></i></div>
        <% end %>
      <% else %>
          <%= link_to kindergarden_bookmarks_path(kindergarden), class: "top-corner-star", method:'post' do %>
            <div class="bookmark-symbol">
                <i class="far fa-heart"></i>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
