<h3> Betreuungsangebote in Berlin </h3>

<div>
  <%= form_tag kindergardens_path, method: "get", remote: true do %>
      <% searcher = OpenStruct.new(params[:search]) %>
      <div class="filter-box">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:categories, Category.all, :id, :name, {:prompt => 'Art der Einrichtung'}) %>
        <% end %>
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:carriers, Carrier.all, :id, :name, {:prompt => 'Art des Trägers'}) %>
        <% end %>
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:districts, District.all, :id, :name, {:prompt => 'Stadtteil'}) %>
        <% end %>

        <!-- ratings = Model.select(:rating).uniq -->


      </div>
    <div class="filter-group">
      <div class="filter-box">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_check_boxes :properties, Property.where(type: "Language"), :id, :name do |b| %>
            <%= b.label class:"label-checkbox" do%>
              <%=b.check_box + b.text%>
              <% end %>
            <%end%>
        <% end %>
      </div>
      <div class="filter-box">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_check_boxes :properties, Property.where(type: "Topic"), :id, :name do |b| %>
            <%= b.label class:"label-checkbox" do%>
              <%=b.check_box + b.text%>
              <% end %>
            <%end%>
        <% end %>
      </div>
    </div>
    <%= submit_tag %>
  <% end %>






  <div class="kindergarden-index-main-container">
    <div class="kindergarden-index-cards-container">
      <%= render "list" %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      <%  %>
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
