
<div class="container">
  <%= form_tag kindergardens_path, method: "get", remote: true do %>
    <div class="row">
      <div class="filter-box">
        <% searcher = OpenStruct.new(params[:search]) %>
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:categories, Category.all, :id, :name, {:prompt => 'Art der Einrichtung'}, { class: "filter-button large col-xs-6 col-sm-4 col-md-2"}) %>
        <% end %>

        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:carriers, Carrier.all, :id, :name, {:prompt => 'Art des Trägers'}, { class: "filter-button large col-xs-6 col-sm-4 col-md-2"}) %>
        <% end %>

        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:districts, District.all, :id, :name, {:prompt => 'Stadtteil'}, { class: "filter-button large col-xs-6 col-sm-4 col-md-2"}) %>
        <% end %>

        <button type="button" class="filter-button medium col-xs-6 col-sm-4 col-md-2" data-toggle="collapse" data-target="#languages"><div class="button-element"><i class="fas fa-comments"></i></div><div class="button-element">Sprachen</div></button>

        <button type="button" class="filter-button medium col-xs-6 col-sm-4 col-md-2" data-toggle="collapse" data-target="#topics"><div class="button-element"><i class="fas fa-book"></i></div><div class="button-element">Thematisch</div></button>

        <%= submit_tag "Suchen", class: 'filter-button searchbutton slim col-xs-6 col-sm-4 col-md-2', style: "color: white; width: 150px;" %>
      </div>
    </div>
    <div class="row">
      <div id="languages" class="collapse col-xs-12">
        <div class="subheader"><h4><strong>Sprachen</strong></h4></div>
        <div class="language-options">
          <%= simple_fields_for :search, searcher do |s| %>
            <%= s.collection_check_boxes :properties, Property.where(type: "Language"), :id, :name do |b| %>
              <%= b.label class: "label-checkbox" do%>
                <%=b.check_box + b.text.capitalize %>
              <% end %>
            <%end%>
          <% end %>
        </div>
      </div>
      <div id="topics" class="collapse col-xs-12">
        <div class="subheader"><h4><strong>Themen</strong></h4></div>
        <div class="topic-options">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_check_boxes :properties, Property.where(type: "Topic"), :id, :name do |b| %>
            <%= b.label class: "label-checkbox" do%>
              <%=b.check_box + b.text%>
              <% end %>
            <%end%>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="list-index-title">
    <h3>Betreuungsangebote in Berlin</h3>
  </div>
  <div class="row">
    <div class="kindergarden-index-main-container col-xs-12">
      <div class="kindergarden-index-cards-container">
        <%= render "kindergardens/list", kindergardens: @kindergardens %>
      </div>
      <div id="map-container" class="hidden-xs col-sm-4 col-md-6">
        <%= render 'map', markers: @markers %>
      </div>
    </div>
  </div>
</div>


