<h3> Great kindergardens in Berlin </h3>

<div>

  <%= form_tag kindergardens_path, method: "get", remote: true do %>
    <%= simple_fields_for :search, OpenStruct.new(params[:search]) do |s| %>
      <%= s.collection_check_boxes :categories, Category.all, :id, :name %>
    <% end %>
      <%= submit_tag %>
  <% end %>


  <div class="kindergarden-index-main-container">
    <div class="kindergarden-index-cards-container">
      <%= render "list" %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>

</div>
