<h3> Betreuungsangebote in Berlin </h3>

<div>
  <%= form_tag kindergardens_path, method: "get", remote: true do %>
      <% searcher = OpenStruct.new(params[:search]) %>
      <div class="filter-box">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:categories, Category.all, :id, :name, {:prompt => 'Art der Einrichtung'}) %>
        <% end %>
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:carriers, Carrier.all, :id, :name, {:prompt => 'Art des Trägers'}) %>
        <% end %>
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:districts, District.all, :id, :name, {:prompt => 'Stadtteil'}) %>
        <% end %>
        <div class="check-box filter-box">
            <%= check_box_tag(:children_below_three) %>
            <%= label_tag(:children_below_three, "< 3Jahre?") %>
        </div>


        <!-- ratings = Model.select(:rating).uniq -->
        <div class="filter-box">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#languages">Sprachen</button>
          <div id="languages" class="collapse">
             <%= simple_fields_for :search, searcher do |s| %>
              <%= s.collection_check_boxes :properties, Property.where(type: "Language"), :id, :name do |b| %>
                <%= b.label class:"label-checkbox" do%>
                  <%=b.check_box + b.text%>
                  <% end %>
                <%end%>
            <% end %>
          </div>
        </div>

        <div class="filter-box">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#topics">Thematische Schwerpunkte</button>
          <div id="topics" class="collapse">
            <%= simple_fields_for :search, searcher do |s| %>
              <%= s.collection_check_boxes :properties, Property.where(type: "Topic"), :id, :name do |b| %>
                <%= b.label class:"label-checkbox" do%>
                  <%=b.check_box + b.text%>
                  <% end %>
                <%end%>
            <% end %>
          </div>
        </div>
      </div>

    <%= submit_tag %>
  <% end %>







  <div class="kindergarden-index-main-container">
    <div class="kindergarden-index-cards-container">
      <%= render "list" %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      <%  %>
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


