<div class="filter-box">
    <% districts = Kindergarden.select(:district).map(&:district).uniq %>
    <h3>Bezirk</h3>
    <%= select_tag :district, options_from_collection_for_select(districts, :id, self.district), multiple: true %>
  </div>


<%= k.select_tag :category_id, options_from_collection_for_select(cats, :id, :name, 1), multiple: true, default: true %>


<%= simple_form_for kindergardens_path do |k| %>
  <div class="filter-box">
    <% cats = Category.all %>
    <h3>Kategorie</h3>
    <%= k.select_tag :category_id, options_from_collection_for_select(cats, :id, :name, 1), multiple: true, default: true %>
  </div>
  <%= submit_tag %>

<% end %>



<% @inquiries.each do |inquiry| %>
  <% @kindergarden = inquiry.kindergarden_id %>
  <% if inquiry.user_id == current_user.id %>
    <%= link_to kindergarden_inquiry_path(@kindergarden, inquiry), :action => 'go' do %>
      <div class="inquiry-box">
        <h3><%= inquiry.subject %></h3>
        <h4><%= inquiry.status %></h4>
        <h5>To: <%= Kindergarden.find(inquiry.kindergarden_id).name %></h5>
        <p><%= inquiry.content %></p>
        <p>Initiated: <%= inquiry.created_at %></p>
        <p>Last Contact: <%= inquiry.updated_at %></p>
      </div>
    <% end %>
  <% end %>
<% end %>

 <div class="filter-box">
        <%= simple_fields_for :search, OpenStruct.new(params[:search]) do |s| %>
          <%= s.collection_check_boxes :languages, Property.where(type: "Language"), :id, :name %>
        <% end %>



      <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_check_boxes :categories, Category.all, :id, :name %>
        <% end %>


<!-- Code für Educational filter -->
<div class="filter-box">
        <%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_check_boxes :properties, Property.where(type: "Educational"), :id, :name do |b| %>
            <%= b.label class:"label-checkbox" do%>
              <%=b.check_box + b.text%>
              <% end %>
            <% end %>
        <% end %>
      </div>

<%= simple_fields_for :search, searcher do |s| %>
          <%= s.collection_select(:categories, Category.all, :id, :name, {:prompt => 'Art der Einrichtung'}) %>
        <% end %>

<div class="container mt-3">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#categories">Art der Einrichtung</button>
          <div id="categories" class="collapse">
              <div class="container">
                <form action="/action_page.php">
                  <% counter = 1 %>
                  <% Category.all.each do |category| %>

                    <div class="form-check">
                      <label class="form-check-label" for="check<%= counter %>">
                        <input type="checkbox" class="form-check-input" id="check<%= counter %>" name="option<%= counter %>" value=<%= category.id %> checked><%= category.name %>
                      </label>
                    </div>
                    <% counter += 1 %>
                  <% end %>

                </form>
              </div>
          </div>
        </div>


        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="collapseExample">
            Art der Einrichtung
          </button>
        </p>
        <div class="collapse" id="categories">
          <div class="card card-body">
            <% counter = 1 %>
            <% Category.all.each do |category| %>
              <div class="form-check check-box" >
                <div class="check-box-item">
                  <input class="form-check-input" type="checkbox" value="<%= category.id %>" id="defaultCheck<%= counter %>">
                </div>
                <div class="check-box-item">
                  <label class="form-check-label" for="defaultCheck<%= counter %>">
                    <%= category.name %>
                  </label>
                </div>
              </div>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>



<% @bookmark = Bookmark.find(current_user.bookmark_ids.select do |id| kindergarden.bookmark_ids.include?(id) end) %>
      <% if @bookmark.present? %>
         <%= link_to kindergarden_bookmark_path(kindergarden, @bookmark), class: "top-corner-star", method:'delete' do %>
          <div class="bookmark-symbol"><i class="fas fa-heart"></i></div>
        <% end %>
      <% else %>
          <%= link_to kindergarden_bookmarks_path(kindergarden), class: "top-corner-star", method:'post' do %>
            <div class="bookmark-symbol">
                <i class="far fa-heart"></i>
            </div>
          <% end %>
      <% end %>
