<div class="filter-box">
    <% districts = Kindergarden.select(:district).map(&:district).uniq %>
    <h3>Bezirk</h3>
    <%= select_tag :district, options_from_collection_for_select(districts, :id, self.district), multiple: true %>
  </div>


<%= k.select_tag :category_id, options_from_collection_for_select(cats, :id, :name, 1), multiple: true, default: true %>


<%= simple_form_for kindergardens_path do |k| %>
  <div class="filter-box">
    <% cats = Category.all %>
    <h3>Kategorie</h3>
    <%= k.select_tag :category_id, options_from_collection_for_select(cats, :id, :name, 1), multiple: true, default: true %>
  </div>
  <%= submit_tag %>

<% end %>


<% @inquiries.each do |inquiry| %>
  <% @kindergarden = inquiry.kindergarden_id %>
  <% if inquiry.user_id == current_user.id %>
    <%= link_to kindergarden_inquiry_path(@kindergarden, inquiry), :action => 'go' do %>
      <div class="inquiry-box">
        <h3><%= inquiry.subject %></h3>
        <h4><%= inquiry.status %></h4>
        <h5>To: <%= Kindergarden.find(inquiry.kindergarden_id).name %></h5>
        <p><%= inquiry.content %></p>
        <p>Initiated: <%= inquiry.created_at %></p>
        <p>Last Contact: <%= inquiry.updated_at %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
