<div class="navbar-wagon">
  <!-- Logo -->
  <div class="logo-with-title">
    <div>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag 'logo.png', class: 'icon',  height: "42", width: "50" %>
      <% end %>
    </div>
    <div class="title-navbar">
      <h3>Meine Kita</h3>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Meine Nachrichten", inquiries_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <%= link_to "Meine Favoriten", bookmarks_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user && @current_user.photo.present? %>
            <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              <%= cl_image_tag current_user.photo, class: "avatar" %>
            </div>
          <% else %>
            <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              <%= cl_image_tag "person-placeholder.png", class: "avatar" %>
            </div>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to 'Login', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to 'Meine Nachrichten', inquiries_path %>
        </li>
        <li>
          <%= link_to 'Meine Favoiten', bookmarks_path %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= t(".profile", default: "Mein Profil") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

