
<div class="banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Kitas in Berlin</h1>
        <p>Der einfachste Weg deine Kitasuche zu organisieren</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="search-home">
          <%= form_tag kindergardens_path, method: :get, class: 'searchbox-home' do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control draw",
            id: 'kindergarden_address',
            placeholder: "Wo möchtest du suchen...?"
            %>
            <%= button_tag(type: "submit", class: "search-button") do %>
                <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <a style="color: white;" href="#section2" class="arrow-home"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>

<br>
<div id="section2" class=" container page-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <h1>Wie funktioniert die Suche?</h1>
    </div>
  </div>

  <div class="row three-steps-main">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="first-step column">
        <%= image_tag 'icons-02.png', class: 'icon',  height: "42", width: "42" %>
        <h3>Adresse eingeben</h3>
        <p>Adresse eingeben in dessen <br> Nähe gesucht werden soll</p>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="second-step column">
        <%= image_tag 'icons-01.png', class: 'icon',  height: "42", width: "42" %>
        <h3>Nach eigenen Präferenzen filtern</h3>
        <p>Nach Sprachen, Pädagogischen Ansätzen u.v.a. <br>filtern und eine passende Kita finden</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="third-step column">
        <%= image_tag 'icons-03.png', class: 'icon',  height: "42", width: "42" %>
        <h3>Favoriten kontaktieren</h3>
        <p>Favoriten speichern oder direkt <br> anschreiben und Erinnerung einstellen, Kita nochmals zu kontaktieren</p>

      </div>
    </div>
  </div>
</div>
