<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
<div class="inquiry-page-container">

  <div class="inquiry-page-header">
    <h2> <u>Mein Nachrichtenüberblick</u> </h2>
  </div>

  <!-- @list.sort_by{|e| -e[:time_ago]} -->
  <div class="card-wrapper">
    <% @grouped_inquiries.each do |kita_id, inquiries| %>
      <% kita = Kindergarden.find(kita_id) %>
      <% inquiry = inquiries.first %>

      <%= link_to kindergarden_inquiry_path(kita, inquiry), :action => 'go' do %>
        <div class="inquiry-index-card">

          <div class="inquiry-index-card-name">
            <% if kita.carrier_id.present? %>
              <div class="carrier">
                <p><%= Carrier.find(kita.carrier_id).name %></p>
              </div>
            <% else %>
              <div class="carrier">
                <p>Ohne Träger</p>
              </div>
            <% end %>
            <h3>An: <%= kita.name %></h3>
          </div>
          <div class="inquiry-mail-info">
            <div class="inquiry-subject">
              <p><strong>Betreff: </strong><%= inquiry.subject %></p>
            </div>
            <div class="inquiry-content">
              <p><%= inquiry.content.truncate(100, separator: ' ') %></p>
            </div>
          </div>

          <div class="inquiry-right-side">
            <p>Zuletzt kontaktiert am: <%= inquiry.created_at.to_date %></p>
            <p>Erinnerungsfunktion: AN</p>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
    <br>
  </div>
  <div class="backlink center">
    <%= link_to "Zurück zur Suche", kindergardens_path %>
  </div>
</div>
</div>
