<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
<div class="inquiry-page-container">

  <div class="inquiry-page-header">
    <h2> <u>Mein Nachrichtenüberblick</u> </h2>
  </div>

  <!-- @list.sort_by{|e| -e[:time_ago]} -->
  <div class="card-wrapper">
    <% @grouped_inquiries.each do |kita_id, inquiries| %>
      <% kita = Kindergarden.find(kita_id) %>
      <% inquiry = inquiries.first %>

      <%= link_to kindergarden_inquiry_path(kita, inquiry), :action => 'go' do %>
        <div class="inquiry-index-card">

          <div class="inquiry-mail-info">
            <div class="inquiry-index-card-name">
              <h3>An: <%= kita.name %></h3>
            </div>
            <div class="inquiry-subject">
              <p><strong>Betreff: </strong><%= inquiry.subject %></p>
            </div>
            <div class="inquiry-content">
              <p><%= inquiry.content.truncate(100, separator: ' ').html_safe %></p>
            </div>
            <div class="last-contact">
              <p>Zuletzt kontaktiert am: <%= inquiry.created_at.to_date %></p>
            </div>
          </div>
          <div class="inquiry-right-side">
            <div class="alert-bell">
              <% if inquiry.alert != nil %>
                <i class="fas fa-bell fake-alert pale"></i>
                <div class="alert-time">
                  <%= inquiry.alert.to_date %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
    <br>
  </div>
  <div class="backlink center">
    <%= link_to "Zurück zur Suche", kindergardens_path %>
  </div>
</div>
</div>

<%= javascript_pack_tag 'message_alert' %>
