<div class="inquiry-page-container">
  <h1> <u>Nachrichten von <%= current_user.email %></u> </h1> <br>

  <!-- @list.sort_by{|e| -e[:time_ago]} -->
  <div class="card-wrapper">
    <h2>Meine angeschriebenen Kitas</h2>
    <% @grouped_inquiries.each do |kita_id, inquiries| %>
      <% kita = Kindergarden.find(kita_id) %>
      <% inquiry = inquiries.first %>

      <%= link_to kindergarden_inquiry_path(kita, inquiry), :action => 'go' do %>
        <div class="inquiry-index-card">
          <div class="inquiry-bookmark">
            <% @bookmark = Bookmark.find(current_user.bookmark_ids.select do |id| kita.bookmark_ids.include?(id) end) %>
            <% if @bookmark.present? %>
              <div class="top-corner-star">
                <div class="bookmark-symbol"><i class="fas fa-heart"></i></div>
              </div>
            <% else %>
              <div class="top-corner-star">
                <div class="bookmark-symbol">
                  <i class="far fa-heart"></i>
                </div>
              </div>
            <% end %>
          </div>
          <div class="inquiry-index-card-name">
            <% if kita.carrier_id.present? %>
              <div class="carrier">
                <p><%= Carrier.find(kita.carrier_id).name %></p>
              </div>
            <% else %>
              <div class="carrier">
                <p>Ohne Träger</p>
              </div>
            <% end %>
            <h3>An: <%= kita.name %></h3>
            <div class="inquiry-subject">
              <p><strong>Betreff: </strong><%= inquiry.subject %></p>
            </div>
            <div class="inquiry-content">
              <p><%= inquiry.content.truncate(100, separator: ' ') %></p>
            </div>
          </div>

          <div class="inquiry-right-side">
            <p>Zuletzt kontaktiert am: <%= inquiry.created_at.to_date %></p>
            <p>Erinnerungsfunktion: AN</p>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
    <br>
  </div>
  <%= link_to 'Zurück zur Suche', kindergardens_path, class: "btn btn-primary" %>
</div>
