<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12  col-md-offset-2">
      <div id="chatroom">
        <h1>Deine Nachricht an:</h1>
        <h1><%= @kindergarden.name %></h1>

        <%= simple_form_for [@kindergarden, @inquiry] do |f| %>
          <%= f.input :subject, label: 'Betreff' %>
          <%= f.input :content, :as => :text, :input_html => { 'rows' => 10}, label: 'Nachricht'%>
          <p>Wann möchtest du erinnert werden, die Kita nochmals zu kontaktieren?</p>


          <%= f.button :submit, 'Senden', class: 'btn-primary message-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
