<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12  col-md-offset-2">
      <div id="chatroom">
        <h1>Deine Nachricht an:</h1>
        <h1><%= @kindergarden.name %></h1>

        <%= simple_form_for [@kindergarden, @inquiry] do |f| %>
          <%= f.input :subject, label: 'Betreff' %>

          <%= f.text_area :content, :class => "tinymce", :rows => 5, :cols => 90 %>
          <div class="form-box"><i class="fas fa-bell fake-alert red display-inline" data-fa-transform="grow-6"></i>
          <h4 class="alert-message display-inline">Wann möchtest du erinnert werden, die Kita nochmals zu kontaktieren?</h4></div>
          <%= f.input :alert, as: :string, :input_html => { id: "flatpickr" }, label: false, value: '', placeholder: 'Wähle ein Datum' %>
          <%= f.button :submit, 'Senden', class: 'btn-primary message-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= tinymce_assets %>
  <%= tinymce theme: "modern", :language => "de" %>
<% end %>
